head
    meta(charset='utf-8')
    title Avaliação Fisica
    link(rel='stylesheet' href='style.css')
    script(src="script.js")
body
    h1 Avaliação Fisica
        button(onclick="modal1.classList.remove('oculto')") Novo
    div(id="modal1" class="modal1 oculto")
        form(action="../paciente/criar" id="novo" method="post")
            header(style="grid-column-end: span 2;")
                h1 Cadastro
            label Nome completo:
            input(type="text" name="nomeCompleto" placeholder="Nome completo do funcionário" required)
            label Data Nascimento:
            input(type="text" name="dataNascimento" placeholder="Data de nascimento do paciente" required)
            label Peso:
            input(type="text" name="peso" placeholder="Peso do paciente" required)
            label Altura:
            input(type="text" name="altura" placeholder="Altura do paciente" required)
            input(type="reset" value="Cancelar" onclick="modal1.classList.add('oculto')")
            input(type="submit" value="Cadastrar")
    main
        table 
            thead
                tr
                    th Id
                    th Nome
                    th Nascimento
                    th Peso
                    th Altura
                    th Idade
                    th IMC
                    th Diagnóstico 
                    th Atualizar 
                    th Excluir
            tbody(id='corpo')
            each paciente in pacientes
                tr
                    td
                        p #{paciente.id}
                    td
                        p #{paciente.nome_completo}
                    td
                        p #{paciente.nascimento.toLocaleString('pt-BR', { timeZone: 'UTC' }).split('T')[0]}
                    td
                        p #{paciente.peso}
                    td
                        p #{paciente.altura}
                    td
                        p #{paciente.idade}
                    


